<!doctype html>
<meta name="viewport" content="width=device-width">
<title>{% block title %}{% endblock %} - notq</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codehilite.css') }}">
{% include 'favicons.html' %}
{% include 'metrika.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='voting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ui.js') }}"></script>
{% if black_logo %}
<nav style="background:#242f33">
  <a href="/"><img class="logo" src="{{ url_for('static', filename='goldlogo.png') }}"/></a>
{% else %}
<nav>
  <a href="/"><img class="logo" src="{{ url_for('static', filename='logo.png') }}"/></a>
{% endif %}
  <h1><a href="/" style="color:white">notq</a></h1>
  <ul>
    {% if g.user %}
      <li>
      <span><a href="/notifies">
      {% if g.active_notifies %}<img src="{{ url_for('static', filename='bell_active.png') }}"/>
      {% else %}<img src="{{ url_for('static', filename='bell_inactive.png') }}"/>{% endif %}
      </a></span>
      <span title="ваша страница">{% set userdata=g.user %}{% include 'user.html' %}</span>
      <span title="ваша карма" class="navkarma">{{ g.karma }}</span>
      </li>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Войти</a>
      <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
