{% extends 'base.html' %}

{% block title %}{{best_title}}{% endblock %}

{% block header %}
  <a class="navlink" href="/">главная</a>
  <a class="navlink" href="/new">новое</a>
  <a class="navlink" style="color:black">лучшее</a>
  {% if g.user %}<a class="navlink" href="{{ url_for('blog.create') }}">написать</a>{% endif %}
  {% include 'blog/bestmenu.html' %}
{% endblock %}

{% block content %}
  <article class="post">
    <table class="topusers">
      <thead><tr>
      <th style="width:10%"><h1>#</h1></th>
      <th><h1>Имя</h1></th>
      <th style="width:30%"><h1 title="Карма или типа того">▲</h1></th>
      </tr></thead>
      <tbody>
        {% for user in users %}
        <tr>
        <td style="text-align:center">{{ user[0] }}.</td>
        {% set selected = (g.user and g.user['username'] == user[1]) %}
        <td>{%if selected%}<b>{%endif%}{% set username=user[1] %}{% include 'user.html' %}{%if selected%}</b>{%endif%}</a>
        <td style="text-align:center">{{ user[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </article>
{% endblock %}
