</header><header id="bestmenu"{% if not besturl %} style="display:none"{% endif %}>
{% if besttype %}{%set suffix="/"+besttype%}{%else%}{%set suffix=""%}{%endif%}

{% if besturl == '/best/week' %}
  <span class="navpage">неделя</span>
{% else %}
  <a class="navlink" href="/best/week{{suffix}}">неделя</a>
{% endif %}

{% if besturl == '/best/month' %}
  <span class="navpage">месяц</span>
{% else %}
  <a class="navlink" href="/best/month{{suffix}}">месяц</a>
{% endif %}

{% if besturl == '/best/year' %}
  <span class="navpage">год</span>
{% else %}
  <a class="navlink" href="/best/year{{suffix}}">год</a>
{% endif %}

{% if besturl == '/best/all' %}
  <span class="navpage">вечное</span>
{% else %}
  <a class="navlink" href="/best/all{{suffix}}">вечное</a>
{% endif %}

{% if besturl %}
</header><header>
{% if not besttype %}
  <span class="navpage">посты</span>
{% else %}
  <a class="navlink" href="{{besturl}}">посты</a>
{% endif %}
{% if besttype == "users" %}
  <span class="navpage">пользователи</span>
{% else %}
  <a class="navlink" href="{{besturl}}/users">пользователи</a>
{% endif %}
{% if besttype == "comments" %}
  <span class="navpage">ответы</span>
{% else %}
  <a class="navlink" href="{{besturl}}/comments">ответы</a>
{% endif %}
{% endif %}
