</header><header id="bestmenu"{% if not besturl %} style="display:none"{% endif %}>
{% if besttype %}{%set suffix="/"+besttype%}{%else%}{%set suffix=""%}{%endif%}
<a class="navlink" {% if besturl == '/best/week' %} style="color:black" {% else %} href="/best/week{{suffix}}"{% endif %}>неделя</a>
<a class="navlink" {% if besturl == '/best/month' %} style="color:black" {% else %} href="/best/month{{suffix}}"{% endif %}>месяц</a>
<a class="navlink" {% if besturl == '/best/year' %} style="color:black" {% else %} href="/best/year{{suffix}}"{% endif %}>год</a>
<a class="navlink" {% if besturl == '/best/all' %} style="color:black" {% else %} href="/best/all{{suffix}}"{% endif %}>вечное</a>
{% if besturl %}
</header><header>
<a class="navlink" {% if not besttype %}style="color:black"{% else %}href="{{besturl}}"{% endif %}>посты</a>
<a class="navlink" {% if besttype == "users" %}style="color:black"{% else %}href="{{besturl}}/users"{% endif %}>пользователи</a>
<a class="navlink" {% if besttype == "comments" %}style="color:black"{% else %}href="{{besturl}}/comments"{% endif %}>ответы</a>
{% endif %}
