{% extends 'base.html' %}

{% block title %}{{best_title}}{% endblock %}

{% block header %}
  <a class="navlink" href="/">главная</a>
  <a class="navlink" href="/new">новое</a>
  <a class="navlink" style="color:black">лучшее</a>
  {% if g.user %}<a class="navlink" href="{{ url_for('blog.create') }}">написать</a>{% endif %}
  {% include 'blog/bestmenu.html' %}
{% endblock %}

{% block content %}
  <article class="post">
  <p class="body"></p>
  </article>

{% for comment in comments %}

{% if comment['parent_id'] %}
<details open="1">
<summary class="commentheader">
  <small style="color:gray">&nbsp;в ответ на чей-то комментарий к записи &laquo;<a href="/{{comment['post_id']}}">{{comment['title']}}&raquo;</small>
</summary>
<p></p>
<ul style="margin-top:12px">
{% endif %}

<details open="1" style="margin-bottom: 22px;">
  <summary class="{% if g.user and g.user['id'] == comment['author_id'] %}thiscommentheader{% else %}commentheader{% endif %}">
    <small><a class="vote" id="uvc{{comment['id']}}" {% if comment['id'] in cupvoted %} style="color: #00a000" {% endif %} href="javascript:votec({{comment['post_id']}},{{comment['id']}},1,{{g.canVote}})" title="Больше такого">▲</a></small>
    <small id="nvc{{comment['id']}}" style="color:gray">{{comment['votes']}}</small>
    <small><a class="vote" id="dvc{{comment['id']}}" {% if comment['id'] in cdownvoted %} style="color: #f00000" {% endif %} href="javascript:votec({{comment['post_id']}},{{comment['id']}},-1,{{g.canVote}})" title="Меньше такого">▼</a></small>
    <strong style="margin:4px">{% set username=comment['username'] %}{% include 'user.html' %}</strong>
    <small style="color:gray">
      {{ comment['created']}}
      {% if not comment['parent_id'] %} к записи &laquo;<a href="/{{comment['post_id']}}">{{comment['title']}}</a>&raquo;{% endif %}
    </small>
  </summary>
  {{comment['rendered']|safe}}
  <small><a href="/{{comment['post_id']}}#answer{{ comment['id'] }}">перейти</a></small>        
</details>

{% if comment['parent_id'] %}</ul></details>{% endif %}

{% endfor %}

{% endblock %}
