{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Написать{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="display:block">
    <label for="title">Заголовок</label>
    <input name="title" style="width:100%" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Текст</label>
    <textarea name="body" style="width:100%" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Отправить">
    <input type="button" onclick="toggle('moar')" value="..."/>
    <div id='moar' style="display:none">
      <div>
          <input style="margin-top:8px" type="radio" id="thisuser" name="authorship" value="thisuser" checked />
          <label for="thisuser">от своего имени</label>
      </div>
      <div>
        <input type="radio" id="anon" name="authorship" value="anon"/>
        <label for="anon">анонимно (с получением кармы)</label>
      </div>
      <div>
        <input type="radio" id="paranoid" name="authorship" value="paranoid"/>
        <label for="paranoid">совершенно анонимно</label>
      </div>
    </div>
    {% include 'blog/formatting.html' %}
  </form>
{% endblock %}
