<details style="margin-left: 8px; margin-bottom:2em"><summary style="color:gray; list-style:revert; font-size:small">форматирование текста</summary>
  <p>notq использует <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> с некоторыми расширенными возможностями</p>
  <table><thead><tr><th>Вы вводите</th><th>Что получается</th></tr></thead>
  <tr><td>*курсив*</td><td><em>курсив</em></td></tr>
  <tr><td>**жирный шрифт**</td><td><strong>жирный шрифт</strong></td></tr>
  <tr><td>[Пример ссылки](http://example.net)</td><td><a href="http://example.net">Пример ссылки</a></td></tr>
  <tr><td>/u/username</td><td><a class="username" href="/u/username"><img src="/static/silver.png"/>username</a></td></tr>
  <tr><td>> цитата</td><td><blockquote>цитата</blockquote></td></tr>
  <tr><td>%%спойлер%%</td><td><span class="spoiler">спойлер</span></td></tr>
  <tr><td>* пункт 1<br/>* пункт 2</td><td><ul><li>пункт 1</li><li>пункт 2</li></ul></td></tr>
  <tr><td>ссылка на YouTube (на отдельной строке)</td><td>видеоплеер</td></tr>
  <tr><td>быстрые ссылки на Википедию: [[Москва]], [[London]]</td><td>быстрые ссылки на Википедию: <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0">Москва</a>, <a href="https://en.wikipedia.org/wiki/London">London</a></td></tr>
  <tr><td>#Заголовок<br>##Другой заголовок</td>
    <td><h1>Заголовок</h1><h2>Другой заголовок</h2></td></tr>
  <tr><td>Тэги: #math, #books (обратите внимание, что если строчка *начинается* с символа #, то это уже не тэг, а заголовок)</td>
    <td>Тэги: <a href="/tag/math">#math</a>, <a href="/tag/books">#books</a> (обратите внимание, что если строчка <em>начинается</em> с символа #, то это уже не тэг, а заголовок)</td></tr>
  </table><div class="vdelim"></div>
  <p>Вы также можете использовать некоторые тэги html, например: <pre>
H&lt;sub&gt;2&lt;/sub&gt;O - это вода
2&lt;sup&gt;8&lt;/sup&gt; = 256
&lt;s&gt;будет зачеркнуто&lt;/s&gt;</pre>
  </p>
  <p>Чтобы вставить блок кода с подсветкой синтаксиса, начинайте каждую строчку кода хотя бы с 4 пробелов. Если фрагмент кода достаточно большой, парсер догадается, что за язык используется. В противном случае вы можете вставить перед кодом строчку с указанием языка, примерно так:</br><pre>
    :::python
    def hello():
        print("Hello world!")</pre>
  </p>
</details>
