  {% for post in posts %}
    {% include 'blog/post_content.html' %}
    <a href="{{ url_for('blog.one_post', id=post['id']) + '#sendanswer' }}">{{post['ncomments']}}</a>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% if pager and pager['numpages'] > 1 %}<hr><p></p>
  <a class="navlink" style="color:black">Страница</a>
  {% for n in range(pager['numpages']) %}
  {% if n == pager['page'] %}
  <a class="navlink" style="color:black">{{n+1}}</a>
  {% else %}
  <a class="navlink" href="{{ pager['pageurl']}}{{n}}">{{n+1}}</a>
  {% endif %}
  {% endfor %}
  {% endif %}