<div class="flash">{{ motivating_message }} Если не знаете, о чём писать, вот беспроигрышные жанры, писать в которых легко, а читать интересно:<p>
<ul>
<li>Знаете что-то о жизни более чем в одном городе, более чем в одной стране, более чем в одной компании? <a href="/create/type/1">Расскажите, как оно в сравнении</a> (если что, это можно сделать и анонимно)</li>
<li>Сегодня что-то узнали? <a href="/create/type/2">Перескажите</a> нам</li>
<li><a href="/create/type/3">Задайте</a> читателям свою любимую задачу-brainteaser, пусть думают</li>
<li>Вы можете с гордостью назвать себя фанбоем какой-то технологии? <a href="/create/type/4">И чем она так хороша?</a></li>
<li>У вас есть pet project? <a href="/create/type/5">Расскажите</a></li>
<li>Зацепил недавно просмотренный ролик на youtube? <a href="/create/type/6">Покажите</a> другим</li>
</ul></p>
</div>
