{% extends 'base.html' %}

{% block title %}{{posts[0]['title']}}{% endblock %}

{% block header %}
  <a class="navlink" href="/">главная</a>
  <a class="navlink" href="/new">новое</a>
  <a class="navlink" href="/best/day">лучшее</a>
  {% if g.user %}<a class="navlink" href="{{ url_for('blog.create') }}">написать</a>{% endif %}
  {% include 'blog/bestmenu.html' %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    {% include 'blog/post_content.html' %}
    <a name="answersection"></a>
    <span class="sendanswer"></span>
    <script>
        function ready() {
            var where = document.getElementsByClassName('sendanswer');
            addanswermenu(where[0], {{post['id']}}, 0, {{g.canVote}})
        }
        document.addEventListener("DOMContentLoaded", ready)
    </script>
    {% for comment in post['comments'] recursive %}{% if comment['page'] == pager['page'] %}
      <details {% if not comment['closed'] %}open="1"{% endif %} id="answer{{ comment['id'] }}">
        <summary class="{% if g.user and g.user.id == comment['author_id'] %}thiscommentheader{% else %}commentheader{% endif %}">
          <small><a class="vote" id="uvc{{comment['id']}}" {% if comment['id'] in cupvoted %} style="color: #00a000" {% endif %} onclick="votec({{post['id']}},{{comment['id']}},1,{{g.canVote}})" title="Больше такого">▲</a></small>
          <small id="nvc{{comment['id']}}" style="color:gray">{{comment['votes']}}</small>
          <small><a class="vote" id="dvc{{comment['id']}}" {% if comment['id'] in cdownvoted %} style="color: #f00000" {% endif %} onclick="votec({{post['id']}},{{comment['id']}},-1,{{g.canVote}})" title="Меньше такого">▼</a></small>
          <strong style="margin:4px">{% set userdata=comment %}{% include 'user.html' %}</strong>
          <small style="color:gray">{% if comment['edited'] %}изменено {{ comment['edited'] }}{% else %}{{ comment['created' ]}}{% endif %}</small>
        </summary>
        {{comment['rendered']|safe}}
        {% if (g.user.id == comment['author_id'] or g.user.is_moderator) and not comment['edited_by_moderator'] %}
        <a href="{{ url_for('blog.updatecomment', post_id=post['id'], comment_id=comment['id']) }}" class="smallaction">✎</a>
        {% endif %}
        <small><a class="inlineaction" href="#" onclick="addanswermenu(this,{{ post['id'] }},{{ comment['id'] }},{{g.canVote}})">ответить</a></small>        
        {% if comment.children -%}
            <ul style="margin-top:12px">{{ loop(comment.children) }}</ul>
        {% endif %}
      </details>
    {% endif %}{% endfor %}
    {% include 'blog/pager.html' %}
  {% endfor %}
{% endblock %}
