{% extends 'base.html' %}

{% block title %}{{ name }}{% endblock %}

{% block header %}
  <a class="navlink" href="/">главная</a>
  <a class="navlink" href="/new">новое</a>
  <a class="navlink" href="/best/day">лучшее</a>
  {% if g.user %}<a class="navlink" href="{{ url_for('blog.create') }}">написать</a>{% endif %}
  {% include 'blog/bestmenu.html' %}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="middle"><h1 class="bigusername">{{ name }}</h1></div>
    </header>
    {% if black_logo %}<div><a href="#" style="color:#242f33"><img src="gold.png"/>&nbsp;ценный пользователь</a></div>{% endif %}
    {% if g.user and g.user['username'] == name %}
    <div style="background-color: #f0f0f0">это вы (<a href="/auth/logout">разлогиниться</a>)</div>
    {% endif %}
    {% if not pager or not pager['page'] %}
      <p class="body">С нами с <strong>{{ user['created' ]}}</strong><br/>
      Карма: <strong>{{ user['karma']}}</strong><br/>
      Постов: <strong>{{ user['nposts'] }}</strong><br/>
      Комментариев: <strong>{{ user['ncomments'] }}</strong></p>
      {% if user['banned'] %}
      <p class='moderated'>Лишен слова до {{user['banned']}}</p>
      {% endif %}
      {% if g.user and g.user['is_moderator'] and g.user['username'] != name %}
      {% if not user['banned'] %}
      <a onclick="return confirm('Забанить на день?')" href="/u/{{name}}/ban/day">Забанить на день</a>
      |
      <a onclick="return confirm('Забанить на неделю?')" href="/u/{{name}}/ban/week">Забанить на неделю</a>
      |
      <a onclick="return confirm('Забанить навсегда?')" href="/u/{{name}}/ban/all">Забанить навсегда</a>
      {% else %}
      <a onclick="return confirm('Разбанить?')" href="/u/{{name}}/unban">Разбанить</a>
      {% endif %}
      |
      <a onclick="return confirm('Удалить сегодняшние комментарии?')" href="/u/{{name}}/delete/day">Удалить комментарии за день</a>
      |
      <a onclick="return confirm('Удалить ВСЁ (только для очевидного спама)?')" href="/u/{{name}}/delete/all">УДАЛИТЬ ПОЛНОСТЬЮ</a>
      {% endif %}
    {% endif %}
  </article>
  <hr>

{% if not pager or not pager['page'] %}
  {% if g.user and g.user['is_moderator'] and g.user['username'] != name and comments %}
  <article class="post">
    <h1>Последние комментарии пользователя</h1><p class="body"></p>
  </article>
    {% include 'blog/flatcomments.html' %}
  <hr>
  {% endif %}

  <article class="post">
    <header>
      <div class="middle"><h1>💬 О себе</h1></div>
      {% if g.user and g.user['username'] == name %}
      <a class="action" href="{{ url_for('blog.about') }}" title="Отредактировать">✎</a>
      {% endif %}
    </header>
    <p class="body">{{user['about']|safe}}</p>
  </article>
  <hr>
{% endif %}

  {% include 'blog/list_of_posts.html' %}

{% endblock %}
